
main {
   width: 100%;
}

/* Hero */

.hero_wrap .hero_img {
   width: 100%;
   height: 474.25px;
   background-image: url(../img/hero_img.jpg);
}
.here_txt {
   padding: 30px 4% 120px;
   position: relative;
}
.title {
   font-family: "SamsungSharpSans-Medium";
   font-size: 48px;
   font-weight: 400;
   letter-spacing: -0.72px;
   color: rgb(0,0,0);
}
.subtitle {
   font-family: "SamsungOneLatin-400";
   font-size: 28px;
   font-weight: 400;
   letter-spacing: -0.42px;
   color: rgb(0,0,0);
}
.day {
   position: absolute;
   top: 30px;
   right: 4%;
   font-family: "SamsungOneLatin-400";
   font-size: 12px;
   color: rgb(102,102,102);
}

 /* Main Contents  */

   /* Main list CSS */

.main_list_wrap {
    width: 100%;
 }
.component_list {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}


.list_box {
   width: 30%;
   margin: 0 0.625%;
   padding-bottom: 80px;
}
.component_list li:nth-child(3n+1) {
   margin-left: 3.75%;
}
.component_list li:nth-child(3n+3) {
   margin-right: 3.75%;
}

.list_box a div {
   width: 100%;
   height: 240.47px;
}

.list_box a .list_1 {
   background-image: url(../img/list_1.jpg);
}
.list_box a .list_2 {
   background-image: url(../img/list_2.png);
}
.list_box a .list_3 {
   background-image: url(../img/list_3.jpg);
}
.list_box a .list_4 {
   background-image: url(../img/list_4.jpg);
}
.list_box a .list_5 {
   background-image: url(../img/list_5.jpg);
}
.list_box a .list_6 {
   background-image: url(../img/list_6.jpg);
}
.list_box a .list_7 {
   background-image: url(../img/list_7.jpg);
}
.list_box a .list_8 {
   background-image: url(../img/list_8.jpg);
}
.list_box a .list_9 {
   background-image: url(../img/list_9.jpg);
}
.list_box a .list_10 {
   background-image: url(../img/list_10.jpg);
}
.list_box a .list_11 {
   background-image: url(../img/list_11.jpg);
}
.list_box a .list_12 {
   background-image: url(../img/list_12.jpg);
}
.list_box a .list_13 {
   background-image: url(../img/list_13.jpg);
}
.list_box a .list_14 {
   background-image: url(../img/list_14.jpg);
}
.list_box a .list_15 {
   background-image: url(../img/list_15.jpg);
}
.list_box a .list_16 {
   background-image: url(../img/list_16.jpg);
}
.list_box a .list_17 {
   background-image: url(../img/list_17.jpg);
}
.list_box a .list_18 {
   background-image: url(../img/list_18.jpg);
}


.kr {
   font-family: "SamsungOneKorean-600";
   letter-spacing: -0.02em;
   color: #000;
   font-weight: 500;
}

.list_box dl .title {
   font-family: "SamsungSharpSans-Medium", "SamsungOneKorean-600";
   font-size: 30px;
   letter-spacing: -0.6px;
   padding: 26px 18px 0;
   margin: 0% 0.625%;
}
.list_box dl .desc {
   font-family: "SamsungOneLatin-400","SamsungOneKorean-400";
   font-size: 18px;
   line-height: 22px;
   letter-spacing: -0.36px;
   padding: 18px 18px 0;
}
.list_box dl .date {
   font-family: "SamsungOneLatin-400";
   font-size: 12px;
   line-height: 22px;
   letter-spacing: -0.36px;
   color: rgb(102,102,102);
   padding: 18px 18px 0;
}

      /* Main list more CSS */
 
.main_list_more {
   padding: 0 3.75% 46px;
   text-align: center;
}
.main_list_more .line {
   height: 30px;
   display: block;
   transform-origin: center top;
}
.line:before {
   content: '';
   position: absolute;
   height: 30px;
   left: 50%;
   width: 0.1px;
   background-color: rgb(85, 85, 85);
}
.main_list_more p {
   font-family: 'SamsungOneLatin-400', ;
   font-size: 18px;
   color: rgb(0, 0, 0);
   line-height: 1;
   letter-spacing: 0.06em;
   padding: 10px 40px;
   margin: 0 auto;
}